@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;200;300;600&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #eee;
  font-family: "Albert Sans"; }

#active {
  background-color: yellow;
  font-weight: 600; }

#active a {
  color: black; }

#active:hover {
  background-color: black; }

#active:hover a {
  color: white; }

.header {
  grid-area: header;
  background-color: yellow; }
  .header img {
    grid-area: header;
    padding-bottom: 0;
    padding-left: 1rem;
    width: 190px;
    height: 190px; }

.header-menu {
  grid-area: nav;
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  width: 100%;
  background-color: black; }
  .header-menu li:hover {
    background-color: yellow;
    color: black;
    transition: ease-in;
    transition-duration: 0.2s; }

nav li {
  text-align: center;
  padding: 14px; }

nav a {
  text-decoration: none;
  color: white;
  font-family: albert Sans;
  font-size: medium; }

nav li:hover a {
  color: inherit; }

.grilla {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header" "nav" "main" "footer"; }

.main {
  grid-area: main;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  gap: 3rem; }

.section1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; }
  .section1 h1 {
    margin-bottom: 2rem; }
  .section1 button {
    overflow: hidden;
    margin-top: 2rem;
    background-color: yellow;
    padding: 10px 20px 10px 20px;
    color: black;
    border-radius: 4px;
    border: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer; }
  .section1 button:hover {
    background-color: black;
    color: white; }
  .section1 a {
    height: 0px; }

.img1 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  width: 50%; }

.fill {
  display: flex;
  max-height: 630px;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .fill img {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%; }

.section3 {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; }
  .section3 h2 {
    margin-bottom: 2rem; }
  .section3 button {
    overflow: hidden;
    margin-top: 2rem;
    background-color: yellow;
    padding: 10px 20px 10px 20px;
    color: black;
    border-radius: 4px;
    border: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer; }
  .section3 button:hover {
    background-color: black;
    color: white; }
  .section3 a {
    height: 0px; }

.img2 {
  width: 50%; }

.redes-section4 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem; }
  .redes-section4 p {
    font-weight: 600;
    font-size: 2vw; }
  .redes-section4 img {
    width: 14vw; }

.section5 {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; }
  .section5 h3 {
    margin-bottom: 2rem;
    font-family: 'Albert Sans', sans-serif; }
  .section5 button {
    overflow: hidden;
    margin-top: 2rem;
    background-color: yellow;
    padding: 10px 20px 10px 20px;
    color: black;
    border-radius: 4px;
    border: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer; }
  .section5 button:hover {
    background-color: black;
    color: white; }
  .section5 a {
    height: 0px; }

.img3 {
  width: 50%; }

.foot-padre {
  grid-area: footer;
  font-family: 'Albert Sans', sans-serif;
  margin: 2rem 0rem 1rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem; }
  .foot-padre img {
    grid-area: footer;
    padding-bottom: 0;
    padding-left: 1rem;
    width: 190px;
    height: 190px; }

.foot-hijo-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium; }
  .foot-hijo-1 a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    line-height: 1.4; }

.footer-p {
  font-size: larger;
  font-weight: 600;
  text-align: center; }

.footer-p3 {
  padding-top: 30px;
  font-size: larger; }

.footer-p4 {
  font-size: larger;
  font-weight: 600;
  text-align: left; }

footer ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  list-style-type: none;
  padding-top: 2rem;
  line-height: 1px;
  width: 100%; }
  footer ul a {
    color: black;
    text-decoration: none;
    font-size: large;
    text-align: left; }
